<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zgw.base" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>


        <activity
            android:name="com.zgw.base.picselector.PictureSelectorActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.zgw.base.picselector.PicturePreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="协议"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zgw.base.picselector.PictureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor"
            android:label="协议"/>


        <activity android:name="com.zgw.base.picselector.PictureExternalPreviewActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.zgw.base.picselector.UCropActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.zgw.base.picselector.PictureMultiCuttingActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.zgw.base.picselector.PicturePlayAudioActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>


        <provider
            android:name="com.zgw.base.picselector.PictureFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>





    </application>
</manifest>
