<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htf.user">

    <application>

        <activity
            android:name="com.htf.user.ui.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="设置界面"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.htf.user.ui.PasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="找回密码界面"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.htf.user.ui.FeedbackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="意见反馈界面"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.htf.user.ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="登录界面"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.htf.user.ui.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="登录界面"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.htf.user.ui.CodeLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="验证码登录"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.htf.user.ui.UserProtocolActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="协议"
            android:screenOrientation="portrait" />


    </application>
</manifest>